* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: cursive;
    background: linear-gradient(45deg, rgb(222, 198, 169)), rgb(164, 134, 97);
}

.serial {
    margin: 20px auto 0;
    padding: 0 0 70px 0;
    background-color: bisque;
    color: black;
    width: fit-content;
    height: 66.5px;
    font-size: 50px;
    border-radius: 5px;
    text-align: center;
}

.generate {
    margin: 20px auto;
    background-color: blanchedalmond;
    color: black;
    text-align: center;
    width: fit-content;
    height: fit-content;
    font-size: 30px;
    cursor: pointer;
    user-select: none;
}